@model Yazlab_2.Models.ViewModel.ProfileViewModel

<form asp-action="EditUser" method="post" enctype="multipart/form-data">
    <h3>Kullanıcı Bilgileri</h3>
    <!-- Kullanıcı Adı -->
    <div>
        <label for="Username">Kullanıcı Adı</label>
        <input type="text" id="Username" name="User.UserName" value="@Model.User.UserName" />
    </div>
    <div>
        <label for="FirstName">Ad</label>
        <input type="text" id="FirstName" name="User.FirstName" value="@Model.User.FirstName" />
    </div>
    <div>
        <label for="LastName">Soyad</label>
        <input type="text" id="LastName" name="User.LastName" value="@Model.User.LastName" />
    </div>
    <div>
        <label for="Email">E-posta</label>
        <input type="email" id="Email" name="User.Email" value="@Model.User.Email" />
    </div>
    <div>
        <label for="PhoneNumber">Telefon</label>
        <input type="text" id="PhoneNumber" name="User.PhoneNumber" value="@Model.User.PhoneNumber" />
    </div>
    <div>
        <label for="BirthDate">Doğum Tarihi</label>
        <input type="date" id="BirthDate" name="User.BirthDate" value="@Model.User.BirthDate.ToString("yyyy-MM-dd")" />
    </div>

    <!-- Profil Fotoğrafı -->
    <div>
        <label for="ProfilePicture">Profil Fotoğrafı</label>
        @if (!string.IsNullOrEmpty(Model.User.ProfilePicture)) // Eğer profil fotoğrafı varsa
        {
            <img src="@Model.User.ProfilePicture" alt="Profil Fotoğrafı" style="width: 100px; height: 100px;" />
        }
        <input type="file" id="ProfilePicture" name="ProfilePicture" />
    </div>

    <!-- İlgi Alanları Seçimi -->
    <h3>İlgi Alanlarınız</h3>
    <div class="form-group">
        <label>İlgi Alanlarını Seçin</label>
        <div>
            @foreach (var category in Model.Categories)
            {
                <div>
                    <input type="checkbox"
                           name="SelectedInterests"
                           value="@category.CategoryID"
                    @(Model.SelectedInterests.Contains(category.CategoryID) ? "checked" : "") />
                    <label>@category.CategoryName</label>
                </div>
            }
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Güncelle</button>
</form>
